
*  {
    font-family: 'Mulish-VariableFont_wght';
    src: url('Mulish-VariableFont_wght.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('Mulish-VariableFont_wght.ttf') format('truetype');

    font-family: Mulish, sans-serif;
}



body {
    background-color: rgba(250, 230, 148, 0.1);
    letter-spacing: 1px;


}

h1 {
    font-size: 45px;
    line-height: 150%;
    color: #282828;
    font-weight: bold;
    margin-bottom: 28px;

}

.quisn {
    
  width: 100%;
  height: max-content;
}

.row {
    margin-top: 0%;
}

.row-p {
    margin-top: 0%;
}

.footer {
   

}

container {
    height: max-content;
}

p {
    font-size: 18px;
    letter-spacing: 0.15px;

    line-height: 1.23;
    letter-spacing: 0.36px;

}
.right_div {
    columns: 1em;
    columns: 1;
    columns: auto;
    columns: 1 auto;
    columns: auto 12em;
    columns: auto auto;

}
.row {

    height: max-content;
    margin-top: 6%;
    margin-bottom: 15%;
    padding-bottom: 10%;
}

.column {
    float: left;
    width: 50%;
}

img {
    width: 400px;
    height: 300px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;


}

.btn-xl-center {
    position:absolute;
    margin-top: 330px;
    margin-left: 100px;
    margin-bottom: 50px;
    padding-top: -130px ;
    font-size: 30px;
    border-radius: 10px;
    width: 15%;
    top: 650px;


}

html {
    position: center;
    margin-left: 8vw;
    margin-right: 8vw;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;


}

#nav_top {
    margin-left: -8vw;
    margin-right: -8vw;
    font-size: 13px;
    top: 0px;
    margin-top : 82px;
}

#navbar_top {
    font-size: 13px;
    width: 100%; //fallback
    width: 100vw;
    left: 0;
    position: absolute;

  }

#login {
    right: 0;
}

.navbar{
    top:0px;
    height: 80px;
}

.navbar2{
    top:95px;
    height: 80px;
    margin-bottom: 215px;
}


#title_one {
    margin-top : 200px;
    margin-left: 50px;

}

#text_one {

}

#button_one {
    margin-top: 50px;
}

.light-gray {
    background-color: #bfd1ec;
}

.beige {
    background-color: #e6dbb9;
}


/* css side bar probably*/

body.offcanvas-active{
    overflow:hidden;
}

.offcanvas-header{ display:none; }

.screen-darken{
    height: 100%; width:0%;
    z-index: 30;
    position: fixed; top: 0; right: 0;
    opacity:0; visibility:hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition:opacity .2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active{
    z-index:10;
    transition:opacity .3s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
}

#navbar_main {

}

/* manages the multi level of the dropdown */

@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }

    .dropdown-menu .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .dropdown-menu .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover {
        background-color: #f1f1f1
    }

    .dropdown-menu > li:hover > .submenu {
        display: block;

    }
}


/* ============ mobile view ============ */
@media all and (max-width: 991px) {

    .offcanvas-header{ display:block; }

    .mobile-offcanvas{
        visibility: hidden;
        transform:translateX(-100%);
        border-radius:0;
        display:block;
        position: fixed;  top: 0; left:0;
        height: 100%; width:80%;
        z-index: 1200;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: visibility .3s ease-in-out, transform .3s ease-in-out;
    }

    .mobile-offcanvas.show{
        visibility: visible; 	transform: translateX(0);
    }
    .mobile-offcanvas .container, .mobile-offcanvas .container-fluid{
        display: block;
        border: 1px solid #333333;
  width: 80%;
  height: 100vw;
    }

    #nav_top {

        margin-top : 0px;
    }
    #nav_top, #button_contenu {
        visibility: hidden;
    }

    .btn-xl {
        padding: 10px 30px;
        font-size: 50px;
        border-radius: 10px;
    }

    .btn-xl-center {
        position:relative;
        margin-top: 0px;
        margin-left: 00px;
        margin: 30px;
        margin-bottom: 50px;
        padding: 30px ;
        font-size: 50px;
        border-radius: 10px;
        width: 80%;
        top: 0px;


    }


    a {
        font-size: 20px;
    }

    .nav-link, .dropdown-item {
        font-size: 50px;
        height: 120px;

    }

    .btn-xl-right {
        padding: 10px 20px;
        font-size: 70px;
        border-radius: 10px;
        margin-left: 50%;
        margin-right: 15%;
    }

    .btn-close, .offcanvas-header {
        margin-right: 15%;
    }

    #title_one {
        margin-top : 0px;
        margin-left: 0px;
        margin-left: auto;
        margin-right: auto;


    }

    .column {
        float: none;
        width: 100%;
        margin-left: 5%;
        margin-right: 50%;

    }

    container {
        border: 1px solid #333333;
  width: 200px;
  height: 500px;

    }

    .pt-5, .mt-5 {
        padding-top: 30rem !important;
        margin-top: 20rem !important;
    }

    p {
        font-size: 40px;
    }

    h1 {
        font-size: 75px;
    }

    img {
        height: 400px;
        width: 600px;
        margin-left: 9%;
    }



/* manage the multiplevel dropdown but for mobile */

.dropdown-menu .dropdown-menu{
    margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;


/* ============ mobile view .end// ============ */
}
}