* {
}

body {
  margin:  0 2rem;
}

ul li {
  /*in ul basically disc means that the unordered list will have dots filled with black color not empty circles*/
  list-style-type: disc;
}

@media (max-width: 767.98px) {
  body {
    margin:  0;
  }
}

@media (min-width: 767.98px) {
  li {
    //list-style: decimal-leading-zero;
    font-size: 1.5rem;
    //margin: 0 0 0 2em;
  }

}

.remove_dot {
  list-style-type: none;
}

.custom_ul_left {
  //padding-left: 1rem;
  li {
    font-family: Calibri, sans-serif;
    font-size: x-large;
    padding-left: 1rem;
    text-indent: -2rem;

  }
}

