* {
  margin:0;

}

body {
  margin-top: 2cm;
  margin-bottom: 2cm;
  margin-left: 5%;
  margin-right: 2rem;
}

table {
  border-collapse:collapse;
  border-spacing:0;
  empty-cells:show;
}

td, th { vertical-align:top;
  font-size:1rem;
}

h1, h2, h3, h4, h5, h6 { clear:both;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
  margin: 0.5rem 0;
  margin-left: 2rem;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 0.3rem;
  margin: 0.5rem 0;
  .ListLabel_20{
    padding-right: 0.7rem;
  }
}


span.footnodeNumber { padding-right:1em;
}

span.annotation_style_by_filter {
  font-size:95%;
  font-family:Arial;
  background-color:#fff000;
  margin:0;
  border:0;
  padding:0;
}

span.heading_numbering { margin-right:0.8rem;
}




.P1 { color:#000000;
  font-size:12pt;
  margin-top:0cm;
  margin: 0.5rem 0;
  text-align:left ! important;
  font-family:'Liberation Serif';
  writing-mode:horizontal-tb;
  direction:ltr;
}

.P2 { color:#000000;
  font-size:12pt;
  margin-top:0cm;
  text-align:left ! important;
  font-family:'Liberation Serif';
  writing-mode:horizontal-tb;
  direction:ltr;
}

.P3 { color:#000000;
  font-size:12pt;
  margin-top:0cm;
  text-align:left ! important;
  font-family:'Liberation Serif';
  writing-mode:horizontal-tb;
  direction:ltr;
}

.P4 { color:#000000;
  font-size:12pt;
  margin-top:0cm;
  text-align:left ! important;
  font-family:'Liberation Serif';
  writing-mode:horizontal-tb;
  direction:ltr;
}

.P5 { color:#000000;
  font-size:12pt;
  margin-top:0cm;
  text-align:left ! important;
  font-family:'Liberation Serif';
  writing-mode:horizontal-tb;
  direction:ltr;
}

.P6 { color:#000000;
  font-size:14pt;
  margin-top:0cm;
  text-align:left ! important;
  font-family:'Liberation Serif';
  writing-mode:horizontal-tb;
  direction:ltr;
}

.P7 { color:#000000;
  font-size:12pt;
  margin-top:0cm;
  text-align:left ! important;
  font-family:'Liberation Serif';
  writing-mode:horizontal-tb;
  direction:ltr;
}

.Internet_20_link { color:#000080;
  text-decoration:underline;
}

.T1 { color:#2a6099;
  font-size:22pt;
  font-weight:bold;
}

.T10 { font-size:14pt;
  font-style:italic;
}

.T11 { font-size:14pt;
}

.T2 { color:#2a6099;
  font-size:16pt;
  font-style:italic;
  font-weight:bold;
}

.T3 { color:#2a6099;
  font-size:16pt;
  font-style:italic;
  font-weight:bold;
}

.T4 { color:#2a6099;
  font-size:15pt;
  font-style:italic;
  font-weight:bold;
}

.T5 { color:#2a6099;
  font-size:15pt;
  font-style:italic;
  font-weight:bold;
}

.T6 { font-size:14pt;
}

.T7 { font-size:14pt;
  text-decoration:underline;
}

.T8 { font-size:14pt;
  text-decoration:underline;
}

.T9 { font-size:14pt;
}

@media (max-width: 1024px) {
  * {
    margin:0;
    font-size: 2rem;
  }

  .T6, .P1, .P1 *, .T7, .T9, .T8 {
    font-size: 2rem;
  }
}